.container-content {
    height: 20em; 
    background-color: #7156b6;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(103, 221, 68) 1px -18px;

}

img {
    height: 65px;
}

.itens {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    align-self: center;
    color: white;
}

.info {
    padding-top: 50px;
    margin-left: 28px;
    width: 40%;
}

.info p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    position: relative;
    bottom: 20px;
    
}

.info h3 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: black -1px -2px;
}