@media (min-width: 1200px) {



header {
box-sizing: border-box;
height: 100vh;
width: 100%;
background-color: #5c1fb6;
display: flex;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%232c1d43' fill-opacity='0.44' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
flex-direction: column;

}



.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    color: white;
    
}

.nav a {
    margin-left: 50px;
    text-decoration: none;
    font-weight:  2;
}

.nav a:visited {
    color: white;
}

.nav a:last-child {
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 0.1  white solid;
    font-weight: 800 ;
    background-color: rgb(50, 206, 50);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.title p {
    position: relative;
    bottom: 75px;
    left: 10px;
}

.title-hero h1 {
    font-size: 80px;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.title-hero p {
    display: flex;
    font-size: 25px;
}

button {
    position: relative;
    bottom: 65px;
    left: 5px;
    width: 200px;
    background-color: rgb(40, 201, 40);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    font-weight: 710;
    border: none;
    height: 50px;
    color: white;
    border-radius: 15px;
    overflow: hidden;
}


.title-hero {
    color: white;
    align-items: center;
    width: 100%;
    display: flex;
    margin-top: 160px;
    justify-content: center;
    justify-self: center;
    
}

.img-container {
    padding-left: 40px;
    display: flex;
    overflow: hidden;
}

.img {
    height: 45vh;
    width: 25vw;
    background-color: #18c921;
    border-radius: 50%;
}





}