@media (min-width: 1200px) {



header {
box-sizing: border-box;
height: 100vh;
flex-direction: column;
width: 100%;
display: flex;
background-color: #4d03bb;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%239b19d9' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");}



.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    color: white;
    
}

.nav a {
    margin-left: 50px;
    text-decoration: none;
    font-weight:  2;
}

.nav a:visited {
    color: white;
}

.nav a:last-child {
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 0.1  white solid;
    font-weight: 800 ;
    background-color: rgb(50, 206, 50);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 480px;
}

.title p {
    position: relative;
    bottom: 70px;
    left: 4px;
}

.title-hero h1 {
    font-size: 80px;
    user-select: none;
    font-family: 'Start';
    text-shadow: black 8px 10px;
}

.title-hero p {
    display: flex;
    font-size: 25px;
    width: 70%;
    font-family: Poppins;
}

button {
    position: relative;
    bottom: 65px;
    left: 5px;
    width: 200px;
    background-color: rgb(40, 201, 40);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 710;
    border: none;
    height: 50px;
    color: white;
    border-radius: 15px;
    overflow: hidden;
}


.title-hero {
    color: white;
    align-items: center;
    display: flex;
    margin-top: 180px;
    justify-content: center;
    justify-self: center;
    
}


.decor {
    height: 800px;
    position: absolute;
    transform: translateX(-800px) translateY(-280px) rotate(-2deg) ;
    width: 100%;
}

@font-face {
    font-family: 'Start';
    src: url(/src/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(/src/fonts/Poppins/Poppins-Black.ttf);
}







}