@media (min-width: 1200px) {



header {
box-sizing: border-box;
height: 70em;
flex-direction: column;
width: 100%;
display: flex;
background-color: #8060cf;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2329dd56' fill-opacity='0.82'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    color: white;
    
}

.nav a {
    margin-left: 50px;
    text-decoration: none;
    font-weight: 800;
}

.nav a:hover {
    color: #17af82;
}

.nav a:visited {
    color: white;
}

.nav a:last-child {
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 0.1  white solid;
    font-weight: 800 ;
    background-color: rgb(50, 206, 50);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 480px;
}

.title p {
    position: relative;
    bottom: 70px;
    left: 4px;
}

.title-hero h1 {
    font-size: 80px;
    user-select: none;
    font-family: 'Start';
    text-shadow: black 8px 10px;
}

.title-hero p {
    display: flex;
    font-size: 25px;
    width: 70%;
    font-family: Poppins;
}

button {
    position: relative;
    bottom: 65px;
    left: 5px;
    width: 200px;
    background-color: rgb(103, 221, 68);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 710;
    border: none;
    height: 50px;
    color: white;
    border-radius: 15px;
    overflow: hidden;
}


.title-hero {
    color: white;
    align-items: center;
    display: flex;
    margin-top: 200px;
    justify-content: center;
    justify-self: center;
    
}


.decor {
    height: 800px;
    position: absolute;
    transform: translateX(-800px) translateY(-290px) rotate(-2deg) ;
    width: 100%;
    user-select: none;
}

@font-face {
    font-family: 'Start';
    src: url(/src/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(/src/fonts/Poppins/Poppins-Black.ttf);
}







}