.feature-div {
    box-sizing: border-box;
    display: grid;
    height: 80em;
    padding-top: 100px;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: rgb(136, 77, 190);
    overflow: hidden;
    box-shadow: rgb(103, 221, 68) 1px -80px;
   
}

.decor-2 {
    height: 1050px;
    width: 100%;
    position: absolute;
    transform: translateY(-500px) translateX(100px) rotate(100deg);
    
}


.feature-grid {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 1fr 1fr 1fr;
   grid-template-areas: 'feature-1 feature-2 feature-3'
                        'feature-4 feature-5 feature-6 ';
    justify-content: center;
    align-self: center;
    gap: 30px;
    margin-top: 120px;
    grid-auto-flow: column;
    transform: translateY(80px);
}

.features-1 {
    
    grid-area: feature-1;
}

.features-2 {
    grid-area: feature-2;
}

.features-3 {
    
    grid-area: feature-3;
}

.features-4 {
    
    grid-area: feature-4
}

.features-5 {
    
    grid-area: feature-5
}

.features-6 {
    
    grid-area: feature-6
}

.feature-title {
    position: relative;
    top: 120px;
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}


.feature-title h3 {
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: black 1px 5px;
    
}

.feature-title p {
    color: white;
    font-weight: 420;
    width: 50%;
    font-family: Rubik;
   
}

.default-visual {
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28em;
    text-align: center;
    flex-wrap: wrap;
    background-color: rgb(120, 21, 150);
    justify-content: center;
    justify-self: center;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: rgb(103, 221, 68) 5px 5px;
    
}


.default-visual img {
    border-radius: 50%;
    border: 0.1px black solid;
    padding: 10px;
    background-color: white;
    
}

.default-visual p {
    width: 50%;
    color: white;
    font-weight: 250;
    position: relative;
    bottom: 22px;
    
}

.default-visual h3 {
    color: white;
    text-shadow: black 1px 3px;
    font-family: Rubik;
}

@font-face {
    font-family: "Rubik";
    src: local(Rubik), url(/src/fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

